#route-creator {
  background-color: pink;
  display: flex;
  flex-direction: column;
  height: 78vh;
  padding: 1vh;
}

form {
  display: flex;
  flex-direction: column;
}

.form-section {
  width: 100%;
  display: flex;
}

input[type="text"] {
  width: 23vw;
}

label {
  width: 4vw;
  padding-right: 1vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#length-display {
  font-weight: bold;
  font-size: 1.3rem;
}

#name-input {
  width: 100%;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 0px;
  margin-bottom: 1vw;
  text-align: center;
}

.form-section input {
  margin: 1vw;
  border-radius: 4px;
  border: 2px solid pink;
  font-size: 1rem;
  padding-left: 1vh
}

.form-section input:focus {
  border: 2px red solid;
}

#save-button {
  background-color: green;
  border: none;
  padding: 1vw;
  border-radius: 8px;
  color: white;
  font-size: 1.3rem
}

#save-button:hover {
  background-color: limegreen;
}
