#side-bar {
  background-color: lightgreen;
  width: 30vw;
  height: 96vh;
  margin: 2vh;
  z-index: 20000;
  position: absolute;
  box-shadow: 2px 2px 8px grey;
  border-radius: 8px;
}

#header {
  height: 10vh;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

#sidebar-nav {
  display: flex;
  justify-content: space-around;
}

.sidebar-button {
  width: 7.5vw;
  height: 6vh;
  background-color: green;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.sidebar-button:hover {
  background-color: darkgreen;
}

.sidebar-component {
  height: 78vh;
  padding-top: 1vh;
  border-radius: 0px 0px 8px 8px
}

table {
  font-size: 0.8rem;
  width: 28vw;
  margin: 1vw 1vw 0vw 1vw;
  background-color: white;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

th {
  font-size: 1rem;
  padding: 1vh;
}
